@media screen and (min-width: 600px){
    //general
    .container{
    width: 80%;
    }

    // typography
    p{
        font-size: 1.5rem;
        line-height: 2.7rem;
        margin: 0;
        padding: 0;
    }
    button{
        font-size: 2.5rem;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
        &:hover, &:focus{
            font-size: 3rem;
            text-decoration: none;
            padding-bottom: 10px;
        }
    }
    h2{
        font-size: 6rem;
        padding-top: 100px;
    }
    h3{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 4rem;
    }
    //header

    header {
        margin: auto;
        img{
            width: auto;
            height: 50vh;
        }
        h1{
            font-size: 6rem;
        }

        p{
            font-size: 2rem;
        }
        button{
            margin-top: 30px;
            a{
                font-size: 3.5rem;
            }
        }
    }

    // about
    .about--grid{
        display: grid;
        grid-template: "description me"
                        "button me";
        div{
            grid-area: description;
        }
        img{
            grid-area: me;
        }
        button{
            grid-area: button;
        }
        padding-bottom: 70px;
    }
        .about{
        div p{
             margin-top: 50px;
         }
         img{
             width: 300px;
             height: auto;
             margin-top: 50px;
         }   
         p{
             line-height: 2rem;
         }
         button{
            font-size: 2.3rem;
            margin: 0 auto;
            margin-top: 30px;
            &:hover, &:focus{
                font-size: 2.5rem;
                text-decoration: none;
            }
         }
     }

    //Skills


    div.progress--bar{
            display: inline-block;
            height: 20px;
            width: 250px;
            border: 1px solid black;
            background: $light-color1;
            border-radius: 10px;
            margin:0;
            div{
                height: 100%;
                background-color: $red;
                border-radius: 10px;
                margin: 0;
            }
            .html{
                width: 80%;
            }
            .css{
                width: 60%; 
            }
            .scss{
                width: 40%;  
            }
            .react{
                width: 5%
            }
            .javascript{
                width: 8%;
            }
            .vue{
                width: 0%;
            }
            .photoshop, .illustrator{
                width: 50%;
            }

    }
    
    .flex{
        text-align: left;
        margin-bottom: 150px;
    }
   .education{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

//portfolio
    .grid{
        display: grid;
        grid-template: "colorpicker spaceventures"
                        "evolve evolve";
        a{
            h3{
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                transition: all .5s ease;
            }
            &:hover{
                h3{
                    font-size: 3rem;
                }
            }
        }
    }

    .colorpicker{
        grid-area: colorpicker;
        margin: 0;
        height: 70%;
    }
    .spaceventures{
        grid-area: spaceventures;
        margin: 0;
        height: 70%;
    }
    .evolve{
        grid-area: evolve;
        height: 70%;
    }
   .description{
        margin: 0 10px;

       p{
        font-size: 1rem;
        padding: 0px;
        margin: 0px;
        line-height: 1rem;
       }
       h3{
        line-height: 1.8rem;
       }
    }
//contact
    .contact{
        a{
         font-size: 1.8rem;
         -webkit-transition: all .5s ease;
         -moz-transition: all .5s ease;
         transition: all .5s ease;
         &:hover, &:focus{
            font-size: 2.5rem;
         }
        }
    .icons--flex{
        i{
            font-size: 6rem;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            &:hover, &:focus{
                font-size: 10rem;
             }
        }
    }
    img{
        height: 200px;
        width: 200px;
        margin: 60px auto 0 auto;
    }
    }
}


